body {
  background: #0F1624;
  color: #fff;
  min-width: 90vw;
  min-height: 90vh;
}

.App,
#root {
  text-align: center;
  width: 100%;
  height: 100%;
}

.grid {
  height: 450px;
  width: 450px;
  margin-inline: auto;
  border: 1px solid #8a2be2;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.cell {
  border: 1px solid #8a2be2;
  width: calc(100% / 3);
  height: 100%;
  font-size: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cyan {
  color: #79fdf9;
}

.green {
  color: #39ff14;
}

.purple {
  color: #8a2be2;
}

.title {
  color: #fff;
}

.gradient-button {
  background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
  padding: 20px 60px;
  border-radius: 42px;
  box-shadow: 0px 8px 22px rgba(0, 178, 255, 0.35);
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  letter-spacing: 0.5px;
}

@media all and (max-width: 640px) {
  .grid {
    width: 315px;
    height: 315px;
  }

  .cell {
    font-size: 65px;
  }
}

.flex-row {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.mt-50 {
  margin-top: 50px !important;
}